# Byte-compiled / optimized / DLL files
__pycache__/
Selenium Project/Deployment/__pycache__/
Selenium Project/Framework/__pycache__/
Selenium Project/Inventory/__pycache__/
Selenium Project/Provider_Side_Appointment/__pycache__/
Selenium Project/Consumer_Side_Appointment/__pycache__/
Selenium Project/Provider_Side_Token/__pycache__/
Selenium Project/Provider_login/__pycache__/
Selenium Project/Consumer_login/__pycache__/
*.py[cod]
*$py.class

# allure logs
allure-results/

# Custom Data
Selenium Project/Data/

# Environments
.venv
venv/
apache-jmeter-5.6.3/*
OS Process Sampler.jmx
python_runner_template.jmx
